<table style="width: 100%; text-align: left;">
  <thead><tr>
    <th>Company</th>
    <th>Realm</th>
    <th>Owner</th>
    <th>Owner Email</th>
  </tr></thead>
  <tbody>
<% @companies.each do |c| %>
    <tr>
      <td><%= link_to c.name, company_path(c) %></td>
      <td><%= c.realm %></td>
      <td><%= c.owner.first_name + " " + c.owner.last_name %></td>
      <td><%= c.owner.email %></td>
    </tr>
<% end %>
  </tbody>
</table>
